.page {
    height: 100vh;
    background-image: url('../img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Verdana;
}

.header {
    background-color:  rgba(0, 0, 0, 0.41);
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 81px;
    padding-right: 75px;
}

.logo {
    color:  #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 300ms;
}

.logo:hover {
    color: #3cb878;
}

.header-right {
    display: flex;
}

.icon {
    width: 28px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url('../img//icons.png');
}

.icon:hover {
    background-image: url('../img/icons_hover.png')
}

.icon-wrap:not(:first-child) {
    margin-left: 10px;
}

.icon-1 { 
    background-position: 5px;
}

.icon-2 {
    background-position-x: -47px;
}

.icon-3 {
    background-position-x: -99px;
}

.separ {
    height: 20px;
    width: 1px;
    background-color: grey;
    margin-left: 24px;
    margin-right: 24px;
}

.authorization {
    color:  #ffffff;
    font-size: 14px;
    line-height: 21px;
}

.login {
    color:  #3cb878;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border 300ms;
}

.login:hover {
    border-bottom: 1px solid #3cb878;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 54px);
}

.login-box {
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    width: 444px;
    max-height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 29px 60px 32px 62px;
    box-sizing: border-box;
}

.boxes-header {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.sign-up {
    color:  #434343;
    font-size: 20px;
    line-height: 21px;
}

.log-in {
    color:  #3cb878;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;  
    border-bottom: 1px solid transparent;
    transition: border 300ms;
}

.log-in:hover {
    border-bottom: 1px solid #3cb878;
}

.square {
    width: 18px;
    height: 18px;
    background-color:  #3cb878;
    position: absolute;
    left: -62px;
}

.net-sites-buttons {
    border-radius: 3px;
    height: 46px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.socialbut {
    display: flex;
    width: 157px;
    color:  #ffffff;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    align-items: center;
    box-sizing: border-box;
    border-radius: 5px;
}

.button-separ {
    height: 24px;
    width: 1px;
    background-color: grey;
    margin-left: 17px;
    margin-right: 17px;

}

.img-net-butF {
    width: 10px;
    height: 20px;
    margin-left: 20px;   
}

.img-net-butG {
    width: 25px;
    height: 16px;
    margin-left: 13px;
}

.facebook {
    background-color:  #305db8;
    transition: all 300ms; 
}

.facebook:hover {
    background-color:   #254b95;
}

.google {
    background-color:  #df4a32;
    transition: all 300ms;
}

.google:hover {
    background-color:  #c3412b;
}

.or {
    color:  #848484;
    font-size: 14px;
    margin-top: 33px;
    display: flex;
    align-items: center;
    margin-bottom: 13px;
}

.or:before,
.or:after {
    content: '';
    border-top: 1px solid #cdcdcd;
    margin: 1px 15px 0 0;
    flex: 1 0 15px;
}

.or:after {
    margin: 1px 0 0 15px;
}

.input {
    border-radius: 3px;
    background-color:  #ffffff;
    width: 100%;
    height: 46px;
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
    margin-top: 8px; 
    padding-left: 17px;
    padding-right: 17px;
    color: #cdcdcd;
    font-size: 14px;
    transition: box-shadow 200ms, border 200ms;
}

.input:focus {
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    border: 1px solid transparent;
    color: #434343;
}

.input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #cdcdcd;
    opacity: 1; /* Firefox */
}

.input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #cdcdcd;
}

.input::-ms-input-placeholder { /* Microsoft Edge */
    color: #cdcdcd;
}

.checkbox-box {
    margin-top: 13px;
    position: relative;
}

input[type=checkbox].checkbox {
    position:absolute; 
    opacity: 0;
    height: 20px;
    width: 20px;
    pointer-events: none;
}

input[type=checkbox].checkbox + label.checkbox-label {
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
    cursor: pointer;
}

input[type=checkbox].checkbox:checked + label.checkbox-label {
    background-image: url('../img/checkbox_checked.png')
}

label.checkbox-label {
    background-image:url('../img/checkbox.png');
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color:  #434343;
    font-size: 14px;
    padding-left: 30px;
    height: 20px;
    line-height: 20px;
}

.checkbox-link {
    color:  #3cb878;
    border-bottom:  1px solid transparent;
    transition: border 300ms;
    text-decoration: none;
}

.checkbox-link:hover {
    border-bottom:  1px solid;
}

.final-button {
    width: 100%;
    height: 46px;
    border-radius: 3px;
    margin-top: 28px;
    background-color: #3cb878;
    font-size: 16px;
    color: #ffffff;
    line-height: 21px;
    display: flex;
    font-size: 16px;
    justify-content: center;
    border: none;
    transition: all 300ms; 
}

.final-button:hover {
    background-color: #319965;
}